button {
    transition: color 2s;
    transition: background-color 2s;
    color: cornflowerblue;
    background-color: ghostwhite;
}

button:hover {
    color:white;
    background-color: cornflowerblue;

}